<div class="row mrgntop">
	<div class="col-4"></div>
	<div class="col-3 ">
		<h1>CALCULATOR</h1>
		<div class="box">
			<div class="row" class="inptgap">
				<p>{{input}}</p>
			</div>
			<div class="row inptgap2">
				<!-- <div class="col-1"></div> -->
				<div class="col-2">
					<button (click)="pressNum('1')">1</button>
				</div>
				<div class="col-2">
					<button (click)="pressNum('2')">2</button>
				</div>
				<div class="col-2">	
					<button (click)="pressNum('3')">3</button>
				</div>
				<div class="col-2">
					<button (click)="backspace()">bck</button>
				</div>
				<div class="col-2">
					<button (click)="clear()">C</button>
				</div>
				
			</div>
			<div class="row inptgap2">
				<div class="col-2">
					<button (click)="pressNum('4')">4</button>
				</div>
				<div class="col-2">
					<button (click)="pressNum('5')">5</button>
				</div>
				<div class="col-2">
					<button (click)="pressNum('6')">6</button>
				</div>
				<div class="col-2">
					<button (click)="pressNum('*')">*</button>
				</div>
				<div class="col-2">
					<button (click)="pressNum('/')">/</button>
				</div>
				
			</div>
			<div class="row inptgap2">
				<div class="col-2">
					<button (click)="pressNum('7')">7</button>
				</div>
				<div class="col-2">
					<button (click)="pressNum('8')">8</button>
				</div>
				<div class="col-2">
					<button (click)="pressNum('9')">9</button>
				</div>
				<div class="col-2">
					<button (click)="pressNum('-')">-</button>
				</div>
				
				<div class="col-2">
					<button (click)="factorial()">!</button>
				</div>
			</div>
			<div class="row inptgap2">
				<div class="col-2">
					<button (click)="pressNum('0')">0</button>
				</div>
				<div class="col-2">
					<button (click)="pressNum('+')">+</button>
				</div>
				<div class="col-2">
					<button (click)="pressNum('.')">.</button>
				</div>
				<div class="col-2">
					<button (click)="pressNum('%')">%</button>
				</div>
				<div class="col-4">
					<button (click)="result()">=</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-4"></div>
</div>