button {
	color: green;
	border-radius:3px;
	width: 35px;
}
.inptgap {
	margin-bottom: 10px;
	margin-top: 20px;
}
.inptgap2 {
	margin-bottom: 5px;
}
input {
	width: 235px;
}
.mrgntop {
	margin-top: 50px;
	
}
.box {
	/*border: 1px solid;*/
	padding-left: 20px;
    padding-right: -1px;
    padding-top: 5px;
    padding-bottom: 10px;

	box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1{
	font-family: italic;
}